importFrom ("methods", "as")
importFrom ("grDevices", "col2rgb", "hcl", "rgb")
importFrom ("graphics", "abline", "arrows", "axis", "box", "contour", "par", "plot.new", "plot.window", "polygon", "rect", "text", "title")
importFrom ("colorspace", "coords", "polarLUV", "RGB")
exportPattern ("^[^\\.]")
