importFrom ("grDevices", "col2rgb", "rgb")
importFrom ("graphics", "arrows", "axis", "box", "contour.default", "par", "plot", "plot.new", "plot.window", "polygon", "text", "title")
exportPattern("^[^\\.]")
